<section class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus ullam libero quia at explicabo totam
            adipisci, voluptatibus distinctio unde mollitia qui sapiente corporis hic.
        </p>
    </div>

</section>