<section class="card">
    <div class="card-body">
        <h1>Acerca de mi</h1>
        <p>Hola, soy un joven programador que esta tratando de pulirse con nodejs y express
        </p>
    </div>

</section>