<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs Con MongoDB</h1>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, quia. Architecto aliquid illo vitae
    tempore, ipsa adipisci sed culpa doloremque fuga rem. Officiis doloremque ullam earum saepe minus sequi numquam?
  </p>

  <hr class="my-4" />

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt molestias rerum, optio architecto culpa at
    tempore reiciendis dolorum consequuntur earum rem quisquam qui quas dolore sunt officia hic obcaecati.
  </p>
  <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>