<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs Con MongoDB</h1>
  <p class="lead">Aplicación que tiene como finalidad generar una agenda de tareas
  </p>

  <hr class="my-4" />

  <p>Hecho con NodeJs, Express y mucho amor.
  </p>
  <a href="https://github.com/LagomarsinoHS" class="btn btn-primary">Github</a>
</div>